<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.clautch.app</string>
	<key>CFBundleName</key>
	<string>Clautch</string>
	<key>CFBundleShortVersionString</key>
	<string>0.17.3</string> <!-- x-release-please-version -->
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://clautch.app/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>C8RtmEJsbpvs1sd1b/SC5sUqQWx8uub6nsIGJ0a/SgM=</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.clautch.app.join</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>clautch</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
